/* Contenedor principal del grid */
/*
.grid {
  display: flex;
  flex-direction: column; /* Cada palabra en una fila 
  gap: 8px; /* Espaciado entre filas 
  align-items: center;
  margin-top: 20px;
}

/* Cada fila de letras 
.row {
  display: flex;
  flex-direction: row; /* Letras una al lado de otra 
  gap: 6px; /* Espaciado entre letras 
}

/* Cada casilla de letra */
/*
.letter-box {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 5px;
}

/*

.letter-box.correct {
  background-color: #6aaa64; 
  color: white;
  border-color: #6aaa64;
}

.letter-box.present {
  background-color: #c9b458;
  color: white;
  border-color: #c9b458;
}

.letter-box.absent {
  background-color: #787c7e; 
  color: white;
  border-color: #787c7e;
}
*/

.game-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh; /* ocupa 80% del viewport */
}