/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

/* Ajuste para que el contenido no quede debajo de la navbar */
body {
  padding-top: 80px; /* altura de la navbar */
}

/* Contenedor general del juego */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* ACHIVEMENTS */

.achievements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mode-selector {
  display: flex;
  gap: 1rem;
}

.mode-selector button.active {
  font-weight: bold;
  border-bottom: 2px solid #333;
}

.theme-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
}

.theme-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.progress-bar {
  background: #ddd;
  border-radius: 10px;
  width: 80px;
  height: 8px;
  overflow: hidden;
}

.progress-fill {
  background: #4caf50;
  height: 100%;
}
