/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

/* Contenedor principal del grid */
.grid {
  display: flex;
  flex-direction: column; /* Cada palabra en una fila */
  gap: 8px; /* Espaciado entre filas */
  align-items: center;
  margin-top: 20px;
}

/* Cada fila de letras */
.row {
  display: flex;
  flex-direction: row; /* Letras una al lado de otra */
  gap: 6px; /* Espaciado entre letras */
}

/* Cada casilla de letra */
.letter-box {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 5px;
}


.letter-box.correct {
  background-color: #6aaa64; /* Verde */
  color: white;
  border-color: #6aaa64;
}

.letter-box.present {
  background-color: #c9b458; /* Amarillo */
  color: white;
  border-color: #c9b458;
}

.letter-box.absent {
  background-color: #787c7e; /* Gris */
  color: white;
  border-color: #787c7e;
}


.navbar{
  width: 100vw;
  position: fixed;
  top: 0;
}
.navbar h1{

   text-align: center;
}