
:root {
  
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: hidden; /* evita scroll vertical */
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/*  Dark Theme     */



body[data-theme="dark"] {
  background-color: #121212;
  color: #f0f0f0;
}

body[data-theme="dark"] .letter-box {
  border: 2px solid ;
  /* opcional, si no quieres fondo */
  color: #f0f0f0;
}

body[data-theme="dark"] .key {
  border: none;
  background-color: #2b2b2b;
  color: #fff;
}

body[data-theme="dark"] .navbar {
  background: none;
}

body[data-theme="dark"] .navbar h1 {
  background: linear-gradient(135deg, #a78bfa, #ec4899);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}